/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #f1f3f5;

  --primary: #A1BB9D;
  --secondary: #95AEB3;
  --secondary-20: rgba(149, 174, 179, 0.2);

  --tertiary: #D9D9D9;
  --tertiary-30: rgba(217, 217, 217, 0.3);
  --quaternary: #B2CED4;
  --primary-text: #474747;
}


.btn-primary {
  background-color: var(--primary);
  color: white;
  padding: 8px 16px;
}

.btn-primary:hover {
  /* TODO: define hover styles */
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.form-container {
  display: flex;
  flex-direction: column;
  row-gap: .5em;
}

