/* Add some global styles here! */

:root {
  --red: #cf6262;
  --base-bg: #f1f3f5;

  --primary: #A1BB9D;
  --primary-dark: rgb(53, 132, 43);
  --secondary: #95AEB3;
  --secondary-20: rgba(149, 174, 179, 0.2);
  --secondary-50: rgba(149, 174, 179, 0.5);

  --tertiary: #D9D9D9;
  --tertiary-30: rgba(217, 217, 217, 0.3);
  --quaternary: #B2CED4;
  --primary-text: #474747;
  --primary-text-60: rgba(71, 71, 71, 0.6);

}

.view-container {
  padding: 2em;
}


button:disabled,
button[disabled] {
  background-color: #cccccc;
  pointer-events: none;
}

.btn-red {
  background-color: var(--red);
  color: white !important;
  padding: 12px 16px;
  transition: all 0.25s ease-in;
  outline: 0px solid var(--secondary)
}

.btn-red:hover {
  outline: 2px solid var(--red);
  background-color: transparent;
  color: var(--red) !important;
}


.btn-primary {
  background-color: var(--secondary);
  color: white !important;
  padding: 12px 16px;
  transition: all 0.25s ease-in;
  outline: 0px solid var(--secondary)
}

.btn-primary:hover {
  outline: 2px solid var(--secondary);
  background-color: transparent;
  color: var(--secondary) !important;
}

.btn-secondary {

  padding: 12px 16px;

  background-color: transparent;
  color: var(--primary) !important;
  outline: 2px solid var(--secondary);

  border-radius: 50px;
  padding: 8px 12px;
  transition: all 0.25s ease-in;
  font-size: 12px;

  width: fit-content;
}

.btn-secondary:hover {
  /* TODO: define hover styles */

  background-color: var(--secondary);
  color: white !important;
  outline: 2px solid var(--secondary);





}





button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.form-container {
  display: flex;
  flex-direction: column;
  row-gap: .5em;
}